{% extends "layout.html" %}

{% block title %}
QuickList
{% endblock %}

{% block main %}

  <div class="jumbotron jumbotron-fluid" style="height:100vh">
    <div class="container">
      <h1 class="display-4">Welcome to QuickList!</h1>
      <p class="lead">Here, you can easily create and save grocery lists based on your favourite recipes!</p>
      <hr class="my-4">
      <p>Sign up to start making your lists</p>
      <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
      <p><a href="/login">Or Login</a></p>
    </div>
  </div>

{% endblock %}